// ----------- GENERAL STYLES begin -----------
* 
  box-sizing: border-box

html, body
	height: 100%

body
	font-family: "Roboto", sans-serif

.content
	height: 100%

h1
	margin-bottom: 10px
	font-size: 36px
	color: #d5bd8d

h2
	margin-bottom: 10px
	font-size: 24px
	color: #656565

h3
	margin-bottom: 10px
	font-size: 18px
	color: #656565
	line-height: 1.5em

input
	&:focus
		&::-webkit-input-placeholder
			color: transparent
		&::-moz-placeholder
			color: transparent
		&:-ms-input-placeholder
			color: transparent
		&:-moz-placeholder
			color: transparent
// ----------- GENERAL STYLES end -----------